.main_heading {
  padding-top: 5vh;
}

.main_heading h1{
  font-size: 48px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;  
}

.main_heading p{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--grey);
  width: 80%;
}
