.form_section_left{
  width: 45%;
}

.form_section_left_top_button{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form_group {
  margin: 2vh 0px;
}

.form_group label{
  position: relative;
  top: 10px;
  left: 5px;
  background-color: white;
  padding: 5px 10px;
}

.form_control{
  width: 100%;
  height: 50px;
  border: 1px solid GRAY;
  padding: 10px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid GRAY;
  padding: 10px;
  border-radius: 5px;
  resize: none;
}
